<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <mat-card>
        <mat-card-content>
          <div class="row">
            <div class="col-md-3 text-center">
              <img
                [src]="userObj.imageUrl"
                class="img-fluid rounded-circle img-thumbnail"
                width="180"
              />
              <h4 class="mt-3">
                {{ userObj.firstName }} {{ userObj.lastName }}
              </h4>
            </div>
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-6">
                  <p><strong>Email</strong></p>
                  <p>{{ userObj.email }}</p>
                </div>
                <div class="col-md-6">
                  <p><strong>Phone</strong></p>
                  <p>{{ userObj.phone }}</p>
                </div>
                <div class="col-md-6">
                  <p><strong>Date Of Birth</strong></p>
                  <p>{{ userObj.dateOfBirth }}</p>
                </div>
                <div class="col-md-6">
                  <p><strong>Gender</strong></p>
                  <p>{{ userObj.gender }}</p>
                </div>

                <div class="col-md-6">
                  <p><strong>Blood Group</strong></p>
                  <p>{{ userObj.bloodGroup }}</p>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="mt-3">
        <mat-card-content>
          <div class="row">
            <div class="col-md-6">
              <h5>Address</h5>
              <p><strong>Street :</strong> {{ userObj.address.street }}</p>
              <p><strong>City :</strong> {{ userObj.address.city }}</p>
              <p><strong>State :</strong> {{ userObj.address.state }}</p>
              <p><strong>Pincode :</strong> {{ userObj.address.pincode }}</p>
            </div>
            <div class="col-md-6">
              <h5>Skills</h5>

              <mat-chip-list *ngFor="let skill of userObj.skills">
                <mat-chip> {{ skill }} </mat-chip>
              </mat-chip-list>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="mt-3">
        <mat-card-content>
          <h5 class="mb-3">Projects</h5>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Title</th>
                <th>Technology</th>
                <th>Duration</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let project of userObj.projects">
                <td>{{ project.title }}</td>
                <td>{{ project.technology }}</td>
                <td>{{ project.duration }}</td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
        <mat-card-actions class="d-flex justify-content-between">
        <button mat-raised-button color="primary" routerLink="edit">Edit</button>
        <button mat-raised-button color="warn" (click)="onRemove()">Remove</button>
      </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
