<nav class="navbar navbar-dark bg-dark px-4">
  <a class="navbar-brand" routerLink="/">Product App</a>

  <div class="d-flex">
    <a class="text-white text-decoration-none mr-4" routerLink="/">
      Home
    </a>

    <a class="text-white text-decoration-none mr-4" routerLink="/products">
      Products
    </a>
     <a class="text-white text-decoration-none mr-4" routerLink="/products/addProduct">
      Add products
    </a>
     <a class="text-white text-decoration-none mr-4" routerLink="/users">
      Users
    </a>
   
  </div>
</nav>

<router-outlet></router-outlet>