<div class="container">
  <div class="row">
    <div class="col-md-4">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Products</mat-card-title>
        </mat-card-header>

        <mat-card-content *ngIf="getAllProducts.length > 0 ; else noData">
          <ul class="list-group list-group-flush">
            <li
            routerLinkActive="active"
              class="list-group-item product-item"
              *ngFor="let product of getAllProducts"
              [routerLink]="['/products', product.productId]"
            >
              {{ product.productName }}
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<ng-template #noData>
  <p class="alert alert-danger">NO PRODUCTS YET..</p>
</ng-template>