<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <mat-card class="shadow">

        <img
          mat-card-image
          [src]="productObj.productImage"
          [alt]="productObj.productName"
          style="height: 250px; object-fit: cover"
        />

        <mat-card-content class="p-3">
          <h2>{{ productObj.productName }}</h2>

          <ul class="list-group">
            <li class="list-group-item">
              <strong>Product Id:</strong>
              {{ productObj.productId }}
            </li>

            <li class="list-group-item">
              <strong>Description:</strong>
              {{ productObj.productDescription }}
            </li>

            <li class="list-group-item">
              <strong>Price:</strong>
              ₹ {{ productObj.productPrice }}
            </li>

            <li class="list-group-item">
              <strong>Warranty:</strong>
              {{ productObj.warranty }}
            </li>

            <li class="list-group-item">
              <strong>Available:</strong>
              {{ productObj.isAvailable ? 'Yes' : 'No' }}
            </li>
          </ul>
        </mat-card-content>

        <mat-card-actions class="d-flex justify-content-between p-3">
          <button 
          routerLink="edit"
          mat-raised-button color="primary" class="me-2">
            Edit
          </button>

          <button 
          (click)="onRemoveProduct()"
          mat-raised-button color="warn">
            Delete
          </button>
        </mat-card-actions>

      </mat-card>
    </div>
  </div>
</div>